{
    # Top level config and options for Caddy
    http_port  80
    https_port 443
    admin off

    email studios@jbithell.com
}
(cloudflare) {
    encode gzip
    tls /etc/ssl/certs/ssl.crt /etc/ssl/private/ssl.key {
        client_auth {
            mode require_and_verify
            trusted_ca_cert_file /etc/ssl/certs/origin-pull-ca.pem
        }
    }
}
(errors) {
    handle_errors {
        rewrite * /var/www/html/error.html
        file_server
    }
}
https://dash.adam-rms.com {
    import cloudflare
    import errors
    route {
        @canonicalPath {
                file {path}/index.php
                not path */
        }
        redir @canonicalPath {path}/ 308

        @roots path */
        rewrite @roots {path}/index.php

        @phpFiles path *.php
        reverse_proxy @phpFiles adamrms:9000 {
                transport fastcgi {
                    dial_timeout  5s
                        split .php
                        root /var/www/html/admin
                }
        }
        rewrite * /var/www/html/404.html
        file_server
    }
}
https:// {
    import cloudflare
    import errors
    route {
        @canonicalPath {
                file {path}/index.php
                not path */
        }
        redir @canonicalPath {path}/ 308

        @roots path */
        rewrite @roots {path}/index.php

        @phpFiles path *.php
        reverse_proxy @phpFiles adamrms:9000 {
                transport fastcgi {
                    dial_timeout  5s
                        split .php
                        root /var/www/html/public
                }
        }
        rewrite * /var/www/html/public404.html
        file_server
    }
}