{
    # Top level config and options for Caddy
    http_port  80
    https_port 443
    admin off
}
(cloudflare) {
    encode gzip
    tls /etc/ssl/certs/ssl.crt /etc/ssl/private/ssl.key {
        client_auth {
            mode require_and_verify
            trusted_ca_cert_file /etc/ssl/certs/origin-pull-ca.pem
        }
    }
}
(errors) {
    handle_errors {
        try_files {http.error.status_code}.html /error.html
        file_server {
            root /etc/caddy/html/
        }
    }
}
(customExternalDomains) {
    import errors
    tls studios@jbithell.com {
        #ca https://acme-staging-v02.api.letsencrypt.org/directory
        ca https://acme-v02.api.letsencrypt.org/directory
    }
    route {
        @canonicalPath {
            file {path}/index.php
            not path */
        }
        redir @canonicalPath {path}/ 308

        @roots path */
        rewrite @roots {path}/index.php

        @phpFiles path *.php
        reverse_proxy @phpFiles adamrms:9000 {
            transport fastcgi {
                dial_timeout  5s
                    split .php
                    root /var/www/html/public
            }
        }
        rewrite * /public404.html
        file_server {
            root /etc/caddy/html/
        }
    }
}
https://dash.adam-rms.com {
    import cloudflare
    import errors
    route {
        @canonicalPath {
                file {path}/index.php
                not path */
        }
        redir @canonicalPath {path}/ 308

        @roots path */
        rewrite @roots {path}/index.php

        @phpFiles path *.php
        reverse_proxy @phpFiles adamrms:9000 {
                transport fastcgi {
                    dial_timeout  5s
                        split .php
                        root /var/www/html/admin
                }
        }
        rewrite * /404.html
        file_server {
            root /etc/caddy/html/
        }
    }
}



testclient.jbithell.com {
    import customExternalDomains
}
inventory.yorkdramasoc.com {
    import customExternalDomains
}
inventory.yorktechsoc.org {
    import customExternalDomains
}