{
    # Top level config and options for Caddy
	http_port  80
	https_port 443
	admin off
}
(cloudflare) {
    encode gzip
    tls /etc/ssl/certs/ssl.crt /etc/ssl/private/ssl.key {
        client_auth {
            mode require_and_verify
            trusted_ca_cert_file /etc/ssl/certs/origin-pull-ca.pem
        }
    }
}
(errors) {
    handle_errors {
        rewrite * /etc/caddy/error.html
        file_server
    }
}
dash.adam-rms.com {
    import cloudflare
    php_fastcgi adamrms:9000 {
        root /var/www/html/admin
        index index.php
        dial_timeout  5s
    }
    import errors
}
https://, http:// {
    import cloudflare
    php_fastcgi adamrms:9000 {
        root /var/www/html/test
        index index.php
        dial_timeout  5s
    }
    import errors
}